/* Error: expected "}".
 *     ,
 * 104 | }
 *     |  ^
 *     '
 *   sass/pages/_styletile.scss 104:2  @forward
 *   sass/pages/index.scss 6:1         @use
 *   sass/index.scss 4:1               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 104 \2502  }\a     \2502   ^\a     \2575 \a   sass/pages/_styletile.scss 104:2  @forward\a   sass/pages/index.scss 6:1         @use\a   sass/index.scss 4:1               root stylesheet';
}
