$text-xs: 0.8rem;
$text-sm: 0.875rem;
$text-sm1: 0.9rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;

$text-height-sm: 1.25rem;
$text-height-base: 1.5rem;
$text-height-lg: 1.75rem;
$text-height-xl: 1.75rem;
$text-height-2xl: 2rem;
$text-height-3xl: 2.25rem;
$text-height-4xl: 2.5rem;
$text-height-5xl: 2.75rem;
$text-height-6xl: 3rem;

$color-primary: #579e93;
$color-secondary: #d5e8e5;
$color-tertiary: #f7d7b4;
$color-danger: #d42447;
$color-light: #f5f5f5;
$color-white: #ffff;
$color-dark: #000000;
$color-star: rgb(231, 200, 25);

$space-xxs: 0.2rem;
$space-xxs1: 0.3rem;
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.25rem;
$space-xl: 1.5rem;
$space-1xl: 2rem;
$space-2xl: 2.5rem;
$space-3xl: 3rem;
$space-4xl: 4rem;
$space-5xl: 5rem;
$space-6xl: 6rem;
$space-8xl: 8rem;
$space-10xl: 10rem;

$border-radius-sm: 0.5rem;
$border-radius-md: 2rem;
$border-radius-bg: 3rem;
$border-radius-8xl: 8rem;

$box-shadow: 2.8px 2.6px 2.2px rgba(0, 0, 0, 0.006), 6.7px 6.2px 5.3px rgba(0, 0, 0, 0.008),
  12.5px 11.6px 10px rgba(0, 0, 0, 0.01), 22.3px 20.8px 17.9px rgba(0, 0, 0, 0.012),
  41.8px 38.9px 33.4px rgba(0, 0, 0, 0.014), 100px 93px 80px rgba(0, 0, 0, 0.02);

$max-width-sm: 750px;
$max-width: 1280px;

$font-body: "Palanquin", sans-serif;
$font-title: "Yeseva One", cursive;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

$nav-height: 50px;
