@use "sass:math";
@use "../abstracts/variables" as vars;

.form-field {
  $this: &;
  display: grid;
  width: 100%;

  &.form-field--left-icon {
    #{$this}__input {
      padding-inline-start: vars.$space-2xl;
    }

    #{$this}__button--input {
      left: math.div(vars.$space-2xl, 4);
    }
  }

  &.form-field--right-icon {
    #{$this}__input {
      padding-inline-end: vars.$space-2xl;
    }

    #{$this}__button--input {
      right: math.div(vars.$space-2xl, 4);
    }
  }

  &__input {
    padding-inline: vars.$space-md;
    height: 3rem;
    width: 100%;
  }

  &__icon {
    width: 1.5em;
    height: 1.5em;
  }

  &__button {
    border: none;
    background: none;
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }

  &__button--add {
    padding-inline: vars.$space-sm;
    gap: vars.$space-xs;
  }

  &__control {
    display: inline-flex;
    align-items: center;
    gap: vars.$space-sm;
  }

  &__button--input {
    position: absolute;
  }

  &__input-container {
    display: flex;
    flex-grow: 1;
    position: relative;
    align-items: center;
  }
}
