@use "../abstracts/variables" as vars;

.container {
    padding-inline: vars.$space-md;
    width: min(100%, vars.$max-width);
    margin-inline: auto;
}

body{
    max-width: vars.$max-width;
    margin: 0 auto;
}

section{
    margin: vars.$space-xl;

    @media screen and (max-width: vars.$breakpoint-sm) {
        margin: vars.$space-3xl;
    }  
}