@use "../abstracts/variables" as vars;

.modal{
    width: 80%;
    max-width: 500px;
    margin: vars.$space-2xl auto;
    padding: vars.$space-3xl;
    border-radius: vars.$border-radius-bg;
    background-color: vars.$color-white;
    border: none;
    box-shadow: vars.$box-shadow;
    &__title{
        text-align: center;
        font-family: vars.$font-title;
    }

    &__form{
        display: flex;
        flex-direction: column;
    }

    &__label{
        display: flex;
        flex-direction: column;
        margin-bottom: vars.$space-sm;
        position: relative;
        svg{
            position: absolute;
            width: 20px;
            height: 20px;
            top: 33px;
            left: 5px;
            fill: vars.$color-primary;
        }
    }

    &__input{
        height: 30px;
        padding: vars.$space-sm;
        padding-left: 30px;
        background-color: transparent;
        outline: none;
        transition: .2s;
        border: none;
        border-bottom: 1px solid vars.$color-secondary;
        
        &:focus{
            border-bottom: 1px solid vars.$color-primary;
        }

        &.file-input{
            background-color: transparent;
            padding: vars.$space-xs;
            cursor: pointer;
            border: none;
            &:focus{
                border: none;
            }
        }
    }

    &__button{
        width: 150px;
        height: 30px;
        margin-top: vars.$space-md;
        align-self: center;
        cursor: pointer;
        background-color: vars.$color-primary;
        border: none;
        color: vars.$color-white;
        border-radius: vars.$border-radius-sm;
        transition: .2s;
        font-family: vars.$font-title;
        &:hover{
            background-color: #4a897f;
        }
    }

    &__forgot{
        margin-top: vars.$space-xs;
        font-size: vars.$text-sm;
        text-align: center;
        color: vars.$color-primary;
    }
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.4);
  }