@use "../abstracts/variables" as vars;

.navigation_wrapper {
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: vars.$color-white;
  display: flex;
  align-content: space-between;
  z-index: 10;

  box-shadow: vars.$box-shadow;

  .navigation {
    height: 50px;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media screen and (min-width: vars.$breakpoint-sm) {
        justify-content: flex-end;
    }

    &.active {
      .burger_icon {
        background-image: url(../icons/close-outline.svg);
        transition: 0.3s;
      }
      nav {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transition: 0.3s;
      }
    }

    nav {
      position: absolute;
      right: 0;
      top: 50px;
      margin: 5px;
      background-color: vars.$color-white;
      display: flex;
      flex-direction: column;
      width: 200px;
      text-align: center;
      box-shadow: vars.$box-shadow;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: 0.3s;

      @media screen and (min-width: vars.$breakpoint-lg) {
        position: static;
        display: block;
        border-bottom: none;
        width: 100%;
        text-align: end;
        box-shadow: none;
        margin: vars.$space-md;

        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }

      a {
        text-decoration: none;
        color: vars.$color-dark;
        font-size: vars.$text-sm1;
        width: 100%;
        border-bottom: 1px solid vars.$color-light;
        padding: vars.$space-xxs1;
        transition: 0.3s;
        cursor: pointer;

        @media screen and (min-width: vars.$breakpoint-lg) {
          margin-left: vars.$space-md;
          border-bottom: none;

          &:hover {
            background-color: transparent !important;
            transition: 0.3s;
            opacity: 0.5;
          }
        }

        &:hover {
          transition: 0.3s;
          background-color: vars.$color-light;
        }
      }
    }
  }
}

.burger_icon {
  width: 25px;
  height: 25px;
  background-image: url(../icons/menu.svg);
  margin-right: vars.$space-md;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
    transition: 0.3s;
  }

  @media screen and (min-width: vars.$breakpoint-lg) {
    display: none;
  }
}

.logo {
  font-family: vars.$font-title;
  font-size: vars.$text-xl !important;
  color: vars.$color-primary !important;
  text-decoration: none;
  margin-left: vars.$space-xl;
  transition: 0.3s;
  letter-spacing: -0.04cm;

  &:hover {
    transition: 0.3s;
    color: vars.$color-tertiary !important;
  }

  @media screen and (min-width: vars.$breakpoint-sm) {
    margin-left: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
