@use "../abstracts/variables" as vars;

.recipe-form {
  display: grid;
  gap: vars.$space-3xl;
  padding-block: vars.$space-xl;
  &__section {
    border: none;
    display: flex;
    flex-direction: column;
    gap: vars.$space-sm;
    align-items: flex-start;
  }
}
