@use "../abstracts/variables" as vars;

.sidebar {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: vars.$space-4xl;
  right: vars.$space-xl;
  z-index: 10;
  border-radius: vars.$border-radius-bg;
  background-image: url(/images/marie-profile-pic.png);
  background-position: center;
  background-size: cover;
  border: 2px solid vars.$color-tertiary;

  .profile{
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    &__image{
      display: none;

    }

    &__name{
      display: none;
    }
  }

  ul{
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    list-style-type: none;
    pointer-events: none;
    width: 200px;

    li a{
      text-decoration: none;
      color: vars.$color-dark;
      font-size: vars.$text-sm1;
      width: 100%;
      border-bottom: 1px solid vars.$color-light;
      padding: vars.$space-xxs1;
      transition: 0.3s;
      text-align: center;
      background-color: vars.$color-white;
      display: flex;
      flex-direction: column;
      width: 200px;
    }
    &.profile__list{
      transform: translate(-140px, -171px);
    }
  }

  &.js-open{
    ul{
      visibility: visible;
      pointer-events: all;
      opacity: 1;
      box-shadow: vars.$box-shadow;
      
    }
  }

  @media screen and (min-width: vars.$breakpoint-md) {
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 0;
    background-image: none;
    border: none;
    border-radius: 0;
    box-shadow: vars.$box-shadow;
  
    .profile{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: vars.$space-8xl;
      
      &__image{
        width: 150px;
        height: 150px;
        display: block;
        border-radius: vars.$border-radius-8xl;
        object-fit: cover;
        margin-bottom: vars.$space-md;
  
      }
  
      &__name{
        display: block;
        margin-bottom: vars.$space-md;
      }

      &__list{
        visibility: visible;
        transform: translate(0, 0) !important;
        opacity: 1;
        pointer-events: all;

        li a{
          color: vars.$color-dark;
          cursor: pointer;
          &:hover {
            background-color: vars.$color-tertiary !important;
            transition: 0.3s;
          }
        }
      }
    }
  
  }
}
