@use "../abstracts/variables" as vars;

.recipe-view__title-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe-view{
    margin-top: 0;

    &__title{
        width: 100%;
        margin-top: vars.$space-3xl;

        @media screen and (min-width: vars.$breakpoint-md) {
            margin-top: vars.$space-4xl;
        }  
    }
    &__image{
        height: 300px;
        width: 100%;
        object-fit: cover;
        @media screen and (min-width: vars.$breakpoint-md) {
            height: 400px;
        }  
    }
    &__details-icon{
        width: 20px;
        height:auto;
        fill: vars.$color-primary;
    }
    &__icon-text{
        color: vars.$color-primary;
        margin-left: vars.$space-xs;
    }
    &__details{
        display: flex;
        margin-left: vars.$space-xs;
        margin-top: vars.$space-xs;

        @media screen and (min-width: vars.$breakpoint-md) {
            margin-left: vars.$space-xl;
            margin-top: vars.$space-xl;
        }  
    }
    &__ad-image{
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    &__info-wrapper{
        @media screen and (min-width: vars.$breakpoint-md) {
            display: grid;
            grid-template-columns: 1fr 2fr;
            margin-top: vars.$space-4xl;
        }  
    }
    &__ingrediens{
        list-style-position: inside;
        background-color: vars.$color-white;
        padding: vars.$space-lg;
        box-shadow: vars.$box-shadow;
        margin-top: vars.$space-3xl;
        @media screen and (min-width: vars.$breakpoint-md) {
            margin-top:0;
        } 
    }
    &__directions{
        list-style-position: inside;
        padding: vars.$space-lg;
        @media screen and (min-width: vars.$breakpoint-md) {
            margin-left: vars.$space-3xl;
        } 
    }
    &__ad{
        margin: vars.$space-4xl 0;
        position: relative;
        cursor: pointer;

        transition: .3s;
        &:hover {
            transition: .3s;
            opacity: .9;
        }
    }
    &__chip{
        position: absolute;
        top: 0;
        right: 0;
        padding: vars.$space-xxs vars.$space-sm;
        background-color: vars.$color-secondary;
        font-size: vars.$text-sm;
    }
    
}
.ingredient::marker {
    font-size: vars.$space-sm;
    margin-right: vars.$space-lg;
}

.direction{
    margin-bottom: vars.$space-md;
    
    &::marker{
        background-color: vars.$color-secondary;
        font-weight: bold;
        color: vars.$color-primary;
    
    }
}

.reviews{
    max-width: vars.$max-width-sm;

    @media screen and (min-width: vars.$breakpoint-md) {
        margin: 0 auto;
    }  

    &__star{
        width: 25px;
        height: 25px;
        fill: grey;
        &:hover{
            fill: vars.$color-star;
        }
    }
    &__input-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: vars.$space-4xl;
    }
    &__input{
        width: 100%;
        border: 1px solid vars.$color-primary;
        padding: vars.$space-md;
        transition: .3s;

        &:focus{
            outline: none;
            background-color: transparent;
            transition: .3s;

        }
    }
    &__seperation-line{
        display: block;
        width: 100%;
        height: 1px;
        background-color: vars.$color-dark;
        margin: vars.$space-4xl 0;
        opacity: .2;
    }

    &__button{
        width: 150px;
        height: 30px;
        margin-top: vars.$space-md;
        align-self: center;
        cursor: pointer;
        background-color: vars.$color-primary;
        border: none;
        color: vars.$color-white;
        border-radius: vars.$border-radius-sm;
        transition: .3s;
        font-family: "Yeseva One", cursive;
        &:hover {
            background-color: vars.$color-tertiary;
            transition: .3s;
        }

    }
}
.review{
    background: white;
    padding: vars.$space-md;
    margin-bottom: vars.$space-xl;
    box-shadow: vars.$box-shadow;

    &__star{
        width: 15px;
        height: auto;
        fill: vars.$color-star;
    }
}