@use "../abstracts/variables" as vars;

.search{
    display: flex;
    position: relative;
    margin: vars.$space-4xl auto vars.$space-xl;
    width: 80%;
    max-width: 800px;
    &__input{
        width: 100%;
        height: 30px;
        padding: vars.$space-sm;
        padding-right: 30px;
        background-color: transparent;
        outline: none;
        transition: .2s;
        border: none;
        border-bottom: 1px solid vars.$color-secondary;
        &:focus{
            border-bottom: 1px solid vars.$color-primary;
        }
    }

    &__button{
        position: absolute;
        width: 20px;
        height: 20px;
        fill: vars.$color-primary;
        right: 0;
        background: transparent;
        border: 0;
    }
}

.search-facets{
    overflow: hidden;
    position: relative;
    
    &__gradient{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        left: 0;
        background: linear-gradient(to right, vars.$color-light, rgba(0, 0, 0, 0) 5% 95%, vars.$color-light);
        pointer-events: none;
    }

    &__list{
        display: flex;
        overflow-x: scroll;

        @media (min-width: vars.$breakpoint-lg) {
            justify-content: center;
        }
    }

    &__item{
        list-style-type: none;
        margin: vars.$space-xs;
        padding: vars.$space-xxs vars.$space-lg;
        border: 1px solid vars.$color-primary;
        border-radius: vars.$border-radius-md;
        cursor: pointer;
        transition: .2s;
        &:hover{
            background-color: vars.$color-primary;
            color: vars.$color-white;
        }
    }
}

.search-results{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: vars.$space-3xl;
}